<SMTPClientLoadOpt>
  <!--Will be using google:{ Gmail:smtp.gmail.com, GSuite:smtp-relay.gmail.com, RestrictedGmail:aspmx.l.google.com }-->
  <Host>smtp.gmail.com</Host>
  <!--For Google { Gmail:{(SSL required):465, (TLS required-newer):587, DynamicAllows}, GSuite:{25, 465, or 587}, RestrictedGmail:25}-->
  <Port>587</Port>
  <!--A email to appeare as-->
  <DefaultFrom>TaskMasterAppSMTPMail@gmail.com</DefaultFrom>
  <!--Your accout-->
  <Account>taskmasterappsmtpmail@gmail.com</Account>
  <!--Your Password-->
  <Password>T6x119m2/1</Password>
</SMTPClientLoadOpt>