<!--This file is only included as to show the particualars in the Xml for tge SMTPClient. As i didnt want to include the password for the mail I dis-included the actual config-->
<SMTPClientLoadOpt>
  <!--Will be using google:{ Gmail:smtp.gmail.com, GSuite:smtp-relay.gmail.com, RestrictedGmail:aspmx.l.google.com }-->
  <Host>smtp.gmail.com</Host>
  <!--For Google { Gmail:{(SSL required):465, (TLS required-newer):587, DynamicAllows}, GSuite:{25, 465, or 587}, RestrictedGmail:25}-->
  <Port>587</Port>
  <!--A email to appeare as-->
  <DefaultFrom></DefaultFrom>
  <!--Your accout-->
  <Account></Account>
  <!--Your Password-->
  <Password></Password>
</SMTPClientLoadOpt>