@{
    ViewBag.Title = "About";
    Html.AddToRenderScriptBundles("~/bundles/About");
}
<input id="ScrollId" type="hidden" value="@ViewBag.ScrollId" />
<h2>@ViewBag.Title</h2>
<div id="Cloud">
    <h3>Get Up to Date From Anywhere</h3>
    <div class="row">
        <div class="col-lg-6">
            Provide a varaity of tools on the cloud
        </div>
    </div>
</div>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<div id="Tools">
    <h3>Use a Solid Set of Tools to Get It Done</h3>
    <div class="row">
        <div class="col-lg-6">
            Coming Soon Gant chart
        </div>
    </div>
</div>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>
<p>p</p>

<div id="Testimonial">
    <h3>Testimonial</h3>
    @*use this later for client map <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">*@
    <p>this page will need editing later</p>
</div>

<p>Use this area to provide additional information.</p>
