@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: Sep 14,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a view to for OverView (A Index SubView for a AngularJS View)
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@*@model ASP.NetMVCExample.Models.SelectProjectByID_Result*@
@{ 
    //ASP.NetMVCExample.Models.SelectProjectByID_Result ModelView = null;
    Layout = null;
}
<div id="OverViewBody">
    <hr2>Over View</hr2>
    <div class="row">
        <div class="col-lg-4" style="word-wrap:break-word; overflow:hidden;">
            <h3>Project Manager</h3>
            <div class="MyBox">
                <p class="text-info" style="word-wrap:break-word; overflow:hidden;">
                    <img id="ManagerPicture" src="" class="img-thumbnail" width="140" height="140" />
                    <br /> User ID #: {{project.ManagerID}}
                    <br />First Name: {{project.ManagerFirstName}},
                    <br ng-if="project.ManagerMiddleInitialIsNull"/>{{project.ManagerMiddleInitial}}
                    <br />Last Name: {{project.ManagerLastName}}
                    <br ng-if="project.ManagerWorkPhoneIsNull"/>{{project.ManagerWorkPhone}}
                    <br ng-if="project.ManagerCellPhoneIsNull"/>{{project.ManagerCellPhone}}
                    <br ng-if="project.ManagerHomePhoneIsNull"/>{{project.ManagerHomePhone}}
                </p>
            </div>
        </div>
        <div class="col-lg-8" style="word-wrap:break-word; overflow:hidden;">
            <h3>News Feed</h3>
            <div class="MyBox" >
                <div class="ScrollBox" style="word-wrap:break-word; overflow:scroll; height:100%; width:100%;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
