@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: Sep 14,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a view to for GanttChartView (A Index SubView for a AngularJS View)
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@*@model ASP.NetMVCExample.Models.SelectProjectByID_Result*@
@{
    Layout = null;
}
<div id="GanttChartViewBody">
    <div id="CanvasBox">

    </div>
</div>