@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: Sep 3,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a view to view projects
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@model ASP.NetMVCExample.Models.SelectProjectByID_Result
@{
    ViewBag.Title = Model.ProjectName + "#" + Model.ProjectID;
    ViewBag.NgApp = "NGProjectsIndex";
    ViewBag.RootPath = Html.MakeFullURLActionLink("Index", null, false);
}
@Html.Hidden("RootURLData", (string)ViewBag.RootPath , new { ID = "RootURLData", ProjectID = Model.ProjectID } );
<div ng-controller="FooBar">
    <h2>@Html.Raw(Model.ProjectName + "#" + Model.ProjectID)</h2>
    <div id="MainTabs">
        <ul class="nav nav-tabs">
            <li id="OverViewTab" class="active" onclick="">Over View</li>
            <li id="TaskCellViewTab" onclick="">Task Cell View</li>
            <li id="GanttChartViewTab" onclick="">Gantt Chart View</li>
            <li id="PerkChartViewTab" onclick="">Perk Chart View</li>
        </ul>
    </div>
    <div ng-view>
    </div>
</div>