@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: Sep 3,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a view to view projects
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@model ASP.NetMVCExample.Models.SelectProjectByID_Result
@{
    ViewBag.Title = Model.ProjectName + "#" + Model.ProjectID;
    ViewBag.NgApp = "NGProjectsIndex";
    Html.AddToRenderScriptBundles("~/Scripts/PageScripts/Projects/Index.js");
    //string RootPath = Html.MakeFullURLActionLink("IndexSubPage", null, false);
}
<script src="~/Scripts/PageScripts/Projects/Index.js"></script>
<div>
    <h2 ProjectID="@Model.ProjectID">@Html.Raw(Model.ProjectName + "#" + Model.ProjectID)</h2>
    <div id="MainTabs">
        <ul class="nav nav-tabs nav-justified">
            <li id="OverViewTab" class="active"><a href="#!OverView">Over View</a></li>
            <li id="TaskCellViewTab"><a href="#!TaskCellView">Task Cell View</a></li>
            <li id="GanttChartViewTab"><a href="#!GanttChartView">Gantt Chart View</a></li>
            <li id="PerkChartViewTab"><a href="#!PerkChartView">Perk Chart View</a></li>
        </ul>
    </div>
    <div ng-view>
    </div>
</div>