@model ASP.NetMVCExample.Models.Users.UserPasswordResset

@{
    ViewBag.Title = "Password Reset Email";
    Layout = "_EmailLayout";
}
<p>We are sending this email with regards to a email resset request. If you have made the request please follow the bellow steps with in 24 hours. If you did not make the request please ignore this message.</p>
<h2>Resset instructions</h2>

@*Follow this link: @Html.ActionLink("Resset Your Password", );*@

