
@{
    ViewBag.Title = "Password Resset - Check Your Email";
}

<p>Please check your email for the Reset message</p>

<div class="col-md-offset-2 col-md-10">
    <p>Didnt get it?</p>
    @Html.ActionLink("Send It Again", "PasswordReset", "Account", new { }, new { Class = "btn btn-default" })
</div>