@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a view to generate the html for a email
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@{
    ViewBag.Title = "Password Reset Email";
    Layout = "~/Views/Shared/_EmailLayout.cshtml";

}
<p>We are sending this email with regards to a email reset request. If you have made the request please follow the bellow steps with in 24 hours. If you did not make the request please ignore this message.</p>
<h2>Reset instructions</h2>

<p >Follow this link: </p>
<a href="@ViewBag.URL">Reset Password</a>
<p>It is also highly recomended that once you follow this link that you complete the form as soon as posible to ensure your accounts security!</p>
