@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: To make a page to instruct user to go to email for next step
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@{
    ViewBag.Title = "Password Resset - Check Your Email";
}

<p>Please check your email for the Reset message</p>

<div class="col-md-offset-2 col-md-10">
    <p>Didnt get it?</p>
    @Html.ActionLink("Send It Again", "PasswordReset", "Account", new { }, new { Class = "btn btn-default" })
</div>