@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="color:black; background-color:blanchedalmond; border:2px solid; border-radius:25px 25px;">
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </div>
</body>
</html>
