@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: A Unkown error
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }
    //*@  
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

