@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: Friendly Error for unfound pages
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }
    //*@  
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This Is not the page you are looking for</title>
</head>
<body>
    <div> 
        <h1>This Is not the page you are looking for</h1>
        <p>The last pages get was not filled out properly or is no longer valid.</p>
    </div>
</body>
</html>
