
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This Is not the page you are looking for</title>
</head>
<body>
    <div> 
        <h1>This Is not the page you are looking for</h1>
        <p>This pages get was not filled out properly or is no longer valid.</p>
    </div>
</body>
</html>
