@using ASP.NetMVCExample.Models;
@model ASP.NetMVCExample.Models.TestModel
@{
    TestModel Item = (TestModel)ViewBag.Test;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This Is a @Item.Success @Model.Success</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
