@*  //Writer: Angelo Sanches (BitSan)(Git:TheTrueTrooper)
    //Date Writen: June 23,2017
    //Project Goal: Make a cloud based app to aid in project management
    //File Goal: A view to change passwords
    //Link: https://github.com/TheTrueTrooper/AngelASPExtentions
    //Sources/References:
    //  {
    //  Name: ASP.net
    //  Writer/Publisher: Microsoft
    //  Link: https://www.asp.net/
    //  }*@
@model ASP.NetMVCExample.Models.Users.UserEditPref
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Edit Info", "ChangeProfile", new { }, new { Class = "btn btn-default" })
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Change Password", "ChangePassword", new { }, new { Class = "btn btn-default" })
    </div>
</div>
